@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #1e40af;
  --hero-color: rgba(30, 64, 175, 0.93);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#root {
  font-family: "Montserrat", serif;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  z-index: 99;
}

.header-link {
  position: relative;
  font-weight: 500;
  padding: 10px 20px;
  color: var(--main-color);
}

.header-link:not(.logo):not(.build-my-resume-btn)::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  text-align: center;
  height: 2px;
  transform-origin: left;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.35s ease-in-out;
}

.header-link:not(.logo):not(.build-my-resume-btn):hover::before {
  transform: scaleX(1);
  transition: transform 0.35s ease-in-out;
}

.header-link.logo {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.header-col-two {
  display: flex;
  gap: 40px;
}

.build-my-resume-btn {
  background-color: var(--main-color);
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  box-shadow: 0 0 0 -5px var(--main-color);
  transition: box-shadow 0.3s ease;
}

.build-my-resume-btn:hover {
  box-shadow: 0 0 30px -5px var(--main-color);
}

.hero {
  color: white;
  height: 80vh;
  background: linear-gradient(var(--hero-color), var(--hero-color)),
    url("https://images.unsplash.com/photo-1698047681432-006d2449c631?auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}

.hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 100px;
  margin: 50px;
}

.section-title {
  font-size: 3rem;
  font-weight: 900;
}

#main-call-to-action {
  color: var(--main-color);
  font-weight: 700;
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: white;
  box-shadow: 0 0 0 -5px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease;
}

#main-call-to-action:hover,
#main-call-to-action:focus {
  box-shadow: 0 0 40px -5px rgba(255, 255, 255, 0.5);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-two {
  flex-direction: column;
}

.section:not(.hero) {
  margin: 100px;
}

#special-span {
  color: var(--main-color);
}

#resume {
  width: 21cm;
  min-height: 29.7cm;
  margin: 0 auto;
  box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.4);
}

.resume-full-name {
  font-weight: 900;
}

.resume-wrapper {
  padding: 50px;
  height: 100%;
}

.resume-wrapper,
.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.resume-wrapper[theme="professional"] .resume-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.resume-wrapper[theme="elegant"] {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  min-height: 29.7cm;
}

.resume-wrapper[theme="elegant"] .contact-info-section {
  padding: 40px;
  background-color: #00040f;
  color: white;
}

.resume-wrapper[theme="elegant"] section {
  padding: 20px 40px;
}

.resume-wrapper[theme="elegant"] .experience-section {
  padding: 40px 20px;
}

.resume-wrapper[theme="elegant"] .col-one {
  background-color: #f5f5f5;
}

.resume-wrapper[theme="elegant"] .resume-links-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-size: 0.9rem;
}

.resume-wrapper[theme="elegant"] .resume-link {
  display: flex;
  gap: 10px;
  flex-direction: row;
  font-weight: 500;
}

.resume-wrapper[theme="elegant"] .resume-full-name {
  margin-bottom: 10px;
}

.resume-wrapper[theme="elegant"] .education-date {
  display: flex;
  gap: 8px;
}

.resume-wrapper[theme="elegant"] .resume-section-title {
  margin-bottom: 10px;
}

.resume-wrapper section {
  margin-bottom: 20px;
}
.resume-wrapper[theme="standout"] .resume-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
}

.resume-wrapper[theme="standout"] .resume-links-wrapper {
  justify-content: flex-start;
  align-items: center;
}

.resume-wrapper[theme="standout"] .grid-two-cols {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.resume-wrapper[theme="professional"] .resume-link,
.resume-wrapper[theme="standout"] .resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
}

.resume-wrapper[theme="standout"] .resume-section-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.resume-wrapper[theme="standout"] .experience-date-and-location {
  justify-content: flex-start;
  gap: 40px;
}
.resume-wrapper[theme="standout"] .experience-date,
.resume-wrapper[theme="standout"] .experience-location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.resume-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.experience-title {
  font-weight: 600;
}

.experiences-conatainer,
.educations-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resume-experience-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.experience-date-and-location {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #5a5a5a;
}
.experience-responsabilities,
.skills-container {
  margin: 0 25px;
  font-size: 0.85rem;
}

.education-school {
  font-weight: 500;
}

.education-date {
  color: #5a5a5a;
}

.resume-education-item,
.resume-experience-item {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line-break {
  margin-bottom: 10px;
}

.section-two {
  gap: 80px;
}

.section-two-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
.home-page-img-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

.home-page-img-card:hover .home-page-img-card-wrapper {
  transform: scale(1.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.home-page-img-card-wrapper {
  transition: 0.4s ease-in-out;
  height: 350px;
}
.home-page-img-card-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-card-text {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

.fullscreen-img-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.4);
}

.fullscreen-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#close-fullscreen-img-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  color: white;
  background-color: crimson;
  z-index: 99;
  cursor: pointer;
}
#close-fullscreen-img-btn:hover {
  box-shadow: 0 0 30px -2px crimson;
}

#builder-page {
  height: 90vh;
}

#main-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.nav-bar {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f3f3f3;
  height: 100%;
  gap: 30px;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--main-color);
  padding: 10px 20px;
  border-radius: 30px;
}

.nav-link:not(.active):hover {
  color: white;
  background-color: var(--hero-color);
}

.nav-link.active {
  color: white;
  background-color: var(--main-color);
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  /* align-items: flex-start; */
}

.inp {
  min-width: 300px;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);
  padding: 10px 20px;
  border-radius: 30px;
}

.inp:focus {
  outline: 1px solid var(--main-color);
}

.form-item label[for="location"] + .inp {
  width: 43.5%;
}

.some-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 25px 0;
  width: 100%;
}

.wtf {
  width: 150px;
  display: flex;
  gap: 20px;
  margin: 10px;
}

.wtf input {
  margin-left: auto;
}

.theme-selection-form {
  margin: 20px 0;
}

.education-container,
.experience-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.education-item,
.experience-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 40px;
  border-radius: 30px;
  background-color: rgb(231, 231, 231);
}
.education-item-btns-container,
.experience-item-btns-container {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.edit-education-btn,
.edit-experience-btn,
.delete-education-btn,
.delete-experience-btn {
  font-size: 1.3rem;
}

.add-new-education-item-btn {
  padding: 15px 40px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-education-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.special-btn {
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 30px;
  color: white;
}
.some-btns-container {
  display: flex;
  gap: 40px;
}

#add-new-edu-btn {
  background-color: var(--main-color);
}
#cancel-new-edu-btn {
  background-color: crimson;
}

.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 60px;
  gap: 100px;
  background-color: var(--main-color);
}

.footer .logo {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  font-family: "Playfair Display", serif;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  gap: 10px;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  text-align: center;
  gap: 30px;
  height: 80vh;
}

.about-section .description {
  padding: 0 150px;
}

.builder-section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 40px;
}
#save-and-return-edu {
  background-color: green;
}
.center-this-shit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.some-container {
  justify-content: center;
}

.builder-section {
  transform: translateX(200px);
  opacity: 0;
  animation: builder-section-anim 0.45s ease-in-out forwards;
}

@keyframes builder-section-anim {
  70% {
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
