@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #1e40af;
  --hero-color: rgba(30, 64, 175, 0.93);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
}

#root {
  font-family: "Montserrat", serif;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.header-link {
  position: relative;
  font-weight: 500;
  padding: 10px 20px;
  color: var(--main-color);
}

.header-link:not(.logo):not(.build-my-resume-btn)::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  text-align: center;
  height: 2px;
  transform-origin: left;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.35s ease-in-out;
}

.header-link:not(.logo):not(.build-my-resume-btn):hover::before {
  transform: scaleX(1);
  transition: transform 0.35s ease-in-out;
}

.header-link.logo {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.header-col-two {
  display: flex;
  gap: 40px;
}

.build-my-resume-btn {
  background-color: var(--main-color);
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  box-shadow: 0 0 0 -5px var(--main-color);
  transition: box-shadow 0.3s ease;
}

.build-my-resume-btn:hover {
  box-shadow: 0 0 30px -5px var(--main-color);
}

.hero {
  color: white;
  height: 80vh;
  background: linear-gradient(var(--hero-color), var(--hero-color)),
    url("https://images.unsplash.com/photo-1698047681432-006d2449c631?auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}

.hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 100px;
  margin: 50px;
}

.section-title {
  font-size: 3rem;
  font-weight: 900;
}

#main-call-to-action {
  color: var(--main-color);
  font-weight: 700;
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: white;
  box-shadow: 0 0 0 -5px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease;
}

#main-call-to-action:hover,
#main-call-to-action:focus {
  box-shadow: 0 0 40px -5px rgba(255, 255, 255, 0.5);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section:not(.hero) {
  margin: 100px;
}

#special-span {
  color: var(--main-color);
}

#resume {
  width: 21cm;
  min-height: 29.7cm;
  margin: 150px auto;
  padding: 40px 50px;
  box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.2);
}

.resume-full-name {
  font-weight: 900;
}

.resume-wrapper,
.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.resume-wrapper[theme="professional"] .resume-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.resume-wrapper[theme="professional"] .resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
}

.resume-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.experience-title {
  font-weight: 600;
}

.experiences-conatainer,
.educations-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resume-experience-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.experience-date-and-location {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #5a5a5a;
}
.experience-responsabilities,
.skills-container {
  margin: 0 25px;
  font-size: 0.85rem;
}

.education-school {
  font-weight: 500;
}

.education-date {
  color: #5a5a5a;
}

.resume-education-item,
.resume-experience-item {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line-break {
  margin-bottom: 10px;
}
